<div class="card">
    <div class="card-header">
        <h5>Summary</h5>
    </div>
    <div class="list-group  list-group-flush">
        <div class="list-group-item summary-list-item">
            <span class="text-secondary">Race duration</span>
            <span class="text-primary summary-list-value">{{raceDuration | NaNPrinter | prettyDuration}}</span>
        </div>
        <div class="list-group-item summary-list-item">
            <span class="text-secondary">Total Laps</span>
            <span class="text-primary summary-list-value">{{totalLaps | NaNPrinter}}</span>
        </div>
        <div class="list-group-item summary-list-item">
            <span class="text-secondary">Required fuel</span>
            <span class="text-primary summary-list-value">{{requiredFuel | NaNPrinter}} litres</span>
            <span class="text-secondary description" *ngIf="requiredFuelForFormationLap > 0">(includes
                {{requiredFuelForFormationLap}} litres for formation lap)</span>
        </div>
        <div class="list-group-item summary-list-item">
            <span class="text-secondary">Required fuel for final stint</span>
            <span class="text-primary summary-list-value">&asymp;{{requiredFuelForLastStint | NaNPrinter}} litres</span>
            <span class="text-secondary description" *ngIf="requiredFuelForFormationLap > 0">(assuming there is still fuel for one lap when pitting)</span>
        </div>
        <div class="list-group-item summary-list-item">
            <span class="text-secondary"># of Pitstops</span>
            <span class="text-primary summary-list-value">{{numberOfPitstops | NaNPrinter}}</span>
        </div>
    </div>
</div>