<div class="card">
    <div class="card-header">
        <div style="display: flex; justify-content: center;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary" (click)="setRaceDistance(types.Laps)"
                    [class.active]="selectedType == types.Laps">
                    <input type="radio" name="laps" id="laps" autocomplete="off">
                    Lap based
                </label>
                <label class="btn btn-primary" (click)="setRaceDistance(types.Time)"
                    [class.active]="selectedType == types.Time">
                    <input type="radio" name="time" id="time" autocomplete="off">
                    Time based
                </label>
            </div>
        </div>
    </div>

    <div class="card-body">

        <div class="form-group row align-items-center" *ngIf="selectedType == types.Laps">
            <label for="numberOfLaps" class="col-sm-4 col-form-label">Laps</label>
            <div class="col-sm-8">
                <number-stepper id="numberOfLaps" [(value)]="numberOfLaps" (valueChange)="calculate()"
                    appendLabel='Laps' placeholder="00"></number-stepper>
            </div>
        </div>

        <div class="form-group row align-items-center" *ngIf="selectedType == types.Time">
            <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Race duration:</label>
            <div class="col-sm-4">
                <number-stepper id="raceDurationHour" [(value)]="raceDurationHour" (valueChange)="calculate()"
                    appendLabel='hh' placeholder="00"></number-stepper>
            </div>
            <div class="col-sm-4">
                <number-stepper id="raceDurationMinute" [(value)]="raceDurationMinute" (valueChange)="calculate()"
                    appendLabel='mm' placeholder="00">
                </number-stepper>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="exampleInputEmail1" class="col-sm-4 col-form-label">with Formation lap</label>
            <div class="col-sm-8">
                <div class="btn-group btn-group-toggle p-1" data-toggle="buttons">
                    <label class="btn btn-primary" (click)="setWithFormationLap(true)"
                        [class.active]="withFormationLap">
                        <input type="radio" name="laps" id="laps" autocomplete="off">
                        Yes
                    </label>
                    <label class="btn btn-primary" (click)="setWithFormationLap(false)"
                        [class.active]="!withFormationLap">
                        <input type="radio" name="time" id="time" autocomplete="off">
                        No
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Laptime:</label>
            <div class="col-sm-4">
                <number-stepper id="averageLaptimeMinute" [(value)]="averageLaptimeMinute" (valueChange)="calculate()"
                    appendLabel='mm' placeholder="00">
                </number-stepper>
            </div>
            <div class="col-sm-4">
                <number-stepper id="averageLaptimeSeconds" [(value)]="averageLaptimeSeconds" (valueChange)="calculate()"
                    appendLabel='ss' placeholder="00">
                </number-stepper>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Fuel per Lap:</label>
            <div class="col-sm-8">
                <number-stepper id="fuelPerLap" [step]="0.1" [(value)]="fuelPerLap" (valueChange)="calculate()"
                    appendLabel='litres' placeholder="0.0" [inputMode]="'decimal'"></number-stepper>
            </div>
        </div>

        <div class="form-group row align-items-center">
            <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Fuel tank capacity:</label>
            <div class="col-sm-8">
                <number-stepper id="fuelTankCapacity" [(value)]="fuelTankCapacity" (valueChange)="calculate()"
                    appendLabel='litres' placeholder="000">
                </number-stepper>
            </div>
        </div>

        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <a href="#" class="btn btn-primary btn-block" (click)="calculate()">Calculate</a>
    </div>
</div>