<div style="display: flex; flex-direction: row; align-items: center" class="p-1">
    <i class="fas fa-chevron-left text-secondary" style="cursor: pointer;padding-right: 8px;" (click)="decreaseValue()"></i>
    <div class="input-group">
        <div class="input-group-prepend" *ngIf="prependLabel !== undefined">
            <span class="input-group-text" id="basic-addon1">{{prependLabel}}</span>
        </div>
        <input type="number" [attr.inputmode]="inputMode" class="form-control" id="{{id}}" 
            step="{{step}}" [(ngModel)]="value" (ngModelChange)="valueChanged($event)"
            [placeholder]="placeholder" min="0" />
        <div class="input-group-append" *ngIf="appendLabel !== undefined">
            <span class="input-group-text" id="basic-addon2">{{appendLabel}}</span>
        </div>
    </div>
    <i class="fas fa-chevron-right text-secondary" style="cursor: pointer;padding-left: 8px;" (click)="increaseValue()"></i>
</div>