<div class="card mb-5">
    <div class="card-header">
        <h5>Pit stops</h5>
    </div>

    <div class="card-body">

        <span class="btn btn-primary" (click)="toggleOptionsVisibility()">
            Options
        </span>
        <div *ngIf="optionsVisible">
            <div class="card card-body mb-3">
                <div class="row">
                    <div class="col-4">
                        <label for="distributeEvenly">Distribute pit stops evenly</label>
                    </div>
                    <div class="col-8">
                        <input type="checkbox" id="distributeEvenly" [(ngModel)]="pitStopOptions.distributeEvenly" (ngModelChange)="optionsChanged()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Minimum Number of Pit Stops:
                    </div>
                    <div class="col-8">
                        <number-stepper id="minimumNumberOfPitstops" [(value)]="pitStopOptions.minNumberOfPitstops" (valueChange)="optionsChanged()"
                        appendLabel='Stops' placeholder="0"></number-stepper>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-4">
                        Max stint time:
                    </div>
                    <div class="col-8">
                        <number-stepper id="minimumNumberOfPitstops"  [(value)]="pitStopOptions.maxStintTime"  (valueChange)="optionsChanged()"
                            appendLabel='min' placeholder="-"></number-stepper>
                    </div>
                </div> -->

                <span (click)="resetOptions()">Reset</span>
                
            </div>
        </div>

        <div class="card-deck">
            <div class="card pitstop-card" *ngFor="let stop of pitStops; index as i">
                <div class="list-group list-group-flush">
                    <div class="list-group-item active">Stop {{i + 1}}</div>

                    <div class="list-group-item summary-list-item">
                        <span class="text-secondary">Refuel</span>
                        <span class="text-primary summary-list-value">{{stop.fuel}} litres</span>
                    </div>

                    <div class="list-group-item summary-list-item">
                        <span class="text-secondary">Fuel remaining after stint</span>
                        <span class="text-primary summary-list-value">{{stop.fuelRemaining}} litres</span>
                    </div>

                    <div class="list-group-item summary-list-item">
                        <span class="text-secondary">Estimated duration</span>
                        <span class="text-primary summary-list-value">{{stop.duration | prettyDuration}}</span>
                    </div>

                    <div class="list-group-item summary-list-item">
                        <span class="text-secondary">Estimated laps</span>
                        <span class="text-primary summary-list-value">{{stop.laps}} Laps</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>